body {
  overflow:hidden;
}

.joystick-panel {
    position: absolute; 
    aspect-ratio: 1/1;
    background: white;
    display: block;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
}

.joystick-thumb {
  position: relative;
  left: 0px;
  top: 0px;
  height: 50% ;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.3);
}

#joystick1 {
    left: calc(15pt) ;
    top: calc(100% - 115pt) ;
    width: 100pt ;
}

#joystick2 {
    left: calc(100% - 115pt) ;
    top: calc(100% - 115pt) ;
    width: 100pt ;
}